.deleteReservation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0C0C;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.deleteReservationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.deleteReservationContainerDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.deleteReservationContainerDivLeft {
    display: flex;
    flex: 1;
    position: sticky;
}

.deleteReservationContainerDivLeftContainerImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
}

.deleteReservationContainerDivLeftContainerImageContainer {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
        border-radius: 16px;

}

.deleteReservationContainerDivLeftContainerImageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.deleteReservationContainerDivLeftContainerImageContainerImg {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    border-radius: 16px;
}

.deleteReservationContainerDivLeftContainerTitle {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    margin-left: 70px;
    margin-bottom: 55px;
}

.deleteReservationContainerDivLeftContainerTitleContainerText {
    font-size: 90px;
    color: #EFE7D2;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}







.deleteReservationContainerDivRight {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    color: #fff;
}

.deleteReservationContainerDivRightContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.deleteReservationContainerDivRightContainerDiv {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    border-radius: 16px;
    border: 1px solid #2D2D29;
}