.blogElement {
    margin: 10px;
    text-decoration: none;
}

.blogElementContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.blogElementContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blogElementContainerLeftContainerImage {
    display: flex;
    border-radius: 16px;
    width: 180px;
    height: auto;
}

.blogElementContainerRight {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.blogElementContainerRightContainerDate {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.blogElementContainerRightContainerDateText {
    color: #EFE7D2;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
}

.blogElementContainerRightContainerTitle {
    margin-top: 10px;
}

.blogElementContainerRightContainerTitleText {
    color: #EFE7D2;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
}

.blogElementContainerRightContainerText {
    margin-top: 15px;
}

.blogElementContainerRightContainerTextText {
    color: #AFADA8;
    font-size: 13px;
    font-weight: 200;
    line-height: 20px;
}