.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #0A0B0A;
  z-index: 1;
  box-sizing: border-box;
}

.loginContainer {
  z-index: 100;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/backgroundImage.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  padding: 20px;
  border-radius: 8px;
  color: #efe7d2;
  border: 1px solid #2D2D29;
  background-color: rgba(0, 0, 0, 0.1.5);
  width: 300px;
  text-align: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.loginFormTextOne {
  color: #EFE7D2;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.loginFormLabelOne {
  margin-top: 10px;
}

.loginFormLabelOne,
.loginFormLabelTwo {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.loginFormTextOneTextTwo,
.loginFormLabelTwoText {
  color: #EFE7D2;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.loginFormLabelOneInput,
.loginFormLabelTwoInput {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  color: #EFE7D2;
  border: none;
  outline: none;
  border: 1px solid #EFE7D2;
  border-radius: 10px;
  padding-left: 10px;
}

.loginFormButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  background-color: #EFE7D2;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
  cursor: pointer;
}

.loginFormButton:hover {
  background-color: #D4C8A8;
}