.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a0b0a;
}

.loginForm {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #efe7d2;
  width: 300px;
  text-align: center;
}

.loginForm h2 {
  margin-bottom: 20px;
}

.loginForm label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

.loginForm input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginForm button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.loginForm button:hover {
  background-color: #45a049;
}
