.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0C0C;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.menuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.menuContainerLeft {
    display: flex;
    flex: 1;
    position: sticky;
}

.menuContainerLeftContainerImage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.menuContainerLeftContainerImageContainer {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.menuContainerLeftContainerImageContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.menuContainerLeftContainerImageContainerImage {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.menuContainerRight {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuContainerRightContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuContainerRightContainerTop {
    border: 1px solid #31312D;
    width: 100%;
    border-radius: 16px;
    padding-bottom: 20px;
}

.menuContainerRightContainerBottom {
    border: 1px solid #fff;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #31312D;
    border-radius: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menuContainerLeftContainerTitle {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 0;
    margin-left: 70px;
    margin-bottom: 55px;
}

.menuContainerLeftContainerTitleContainerText {
    font-size: 90px;
    color: #EFE7D2;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menuContainerRightContainerTopContainerFirst {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.menuContainerRightContainerTopContainerFirstContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menuContainerRightContainerTopContainerFirstContainerNavLink {
    text-decoration: none;
    border: 1px solid #31312D;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menuContainerRightContainerTopContainerFirstContainerNavLink:hover {
    background-color: #31312D;
}

.menuContainerRightContainerTopContainerFirstContainerNavLinkContainerDivText {
    color: #EFE7D2;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.menuContainerRightContainerBottomContainer {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menuContainerRightContainerBottomContainerFirstContainerText,
.menuContainerRightContainerBottomContainerSecondContainerText,
.menuContainerRightContainerBottomContainerThirdContainerText {
    color: #EFE7D2;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.menuContainerRightContainerBottomContainerDiamond {
    padding-left: 10px;
    padding-right: 10px;
}