.homeElement {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.homeElementContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.homeElementContainerImage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.homeElementContainerImageContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeElementContainerImageContainerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeElementContainerTitle {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #0A0B0A;
    box-sizing: border-box;
    border-top-left-radius: 15px;
}

.homeElementContainerTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.homeElementContainerTitleContainerIconContainerIcon {
    width: 16px;
    height: 16px;
    color: #EFE7D2;
}

.homeElementContainerTitleContainerIcon {
    width: 32px;
    height: 32px;
    border: 1px solid #32322D;
    background-color: #111211;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.homeElementContainerTitleContainerText {
    color: #EFE7D2;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    position: relative;
}

.homeElementContainerTitleContainerText::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #EFE7D2;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; 
}

.homeElementContainerTitle:hover .homeElementContainerTitleContainerText::after {
    width: 100%;
    left: 0; 
}

.homeElementContainerTitleContainerText:hover::after {
    width: 0; 
    left: 100%;
}

/* Small Mobile Devices */
@media (max-width: 480px) {
    .homeElementContainerTitleContainerText {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .homeElementContainerTitleContainerIcon {
        width: 26px;
        height: 26px;
    }

    .homeElementContainerTitleContainerIconContainerIcon {
        width: 12px;
        height: 12px;
    }

    .homeElementContainerTitle {
        padding-left: 10px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-top-left-radius: 10px;
    }
}

/* Medium Mobile Devices */
@media (min-width: 481px) and (max-width: 768px) {
    .homeElementContainerTitleContainerText {
        font-size: 18px;
    }

    .homeElementContainerTitleContainerIcon {
        width: 28px;
        height: 28px;
    }

    .homeElementContainerTitleContainerIconContainerIcon {
        width: 14px;
        height: 14px;
    }
}

/* Tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .homeElementContainerTitleContainerText {
        font-size: 20px;
    }
}

/* Landscape Mode for Mobile */
@media (max-height: 500px) and (orientation: landscape) {
    .homeElementContainerTitleContainerText {
        font-size: 16px;
        letter-spacing: 1px;
    }

    .homeElementContainerTitleContainerIcon {
        width: 26px;
        height: 26px;
    }

    .homeElementContainerTitle {
        padding-left: 10px;
        padding-right: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}
