@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Forum', cursive;
  overflow: auto;
  scrollbar-width: none;
}

.inter {
  font-family: "Inter", sans-serif;
}

html {
  overflow: auto;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: black;
  color: #EFE7D2;
}