.confirmation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0c0c;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.confirmationContainer {
  background-image: url("../../assets/backgroundImage.png");
  z-index: 100;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.confirmationContainerLeft {
  display: flex;
  flex: 1;
  position: sticky;
}

.confirmationContainerLeftContaienrImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
    border-radius: 16px;

}

.confirmationContainerLeftContaienrImageContainer {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}

.confirmationContainerLeftContaienrImageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 10;
}

.confirmationContainerLeftContaienrImageContainerImage {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  border-radius: 16px;
}

.confirmationContainerLeftContaienrTitle {
  position: absolute;
  z-index: 20;
  bottom: 0;
  left: 0;
  margin-left: 70px;
  margin-bottom: 55px;
}

.confirmationContainerLeftContaienrTitleContaienrText {
  font-size: 64px;
  color: #efe7d2;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.confirmationContainerRight {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmationContainerRightContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.confirmationIcon {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;

  gap: 10px;
}

.confirmationContent {
  width: 100%;
  height: 100%;
}

.confirmationContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.confirmationContentContainerDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #32322d;
  border-radius: 16px;
  height: 100%;
}

.confirmationContentContainerTop {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmationContentContainerTopContaienrText {
  color: #efe7d2;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 3px;
}

.confirmationButton {
  margin-top: 70px;
}

.confirmationButtonLink {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.confirmationButtonLink {
  transition: all 0.3s;
  position: relative;
}
.confirmationButtonLink span {
  transition: all 0.3s;
}
.confirmationButtonLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.confirmationButtonLink:hover span {
  letter-spacing: 2px;
}
.confirmationButtonLink:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.confirmationButtonLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.confirmationButtonLink:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.confirmationButtonLinkText {
  color: #efe7d2;
  text-transform: uppercase;
}

.confirmationContentContainerDivSecond {
    margin-top: 30px;
    /* background-color: red; */
}

.confirmationContentContainerDivSecondContainerText {
    color: #EFE7D2;
    font-size: 20px;
}

.confirmationContentContainerDivMessage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}

.confirmationContentContainerDivMessageContainerOneText {
    color: #EFE7D2;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.confirmationContentContainerDivMessageContainerTwoText,
.confirmationContentContainerDivMessageContainerThreeText {
    color: #AEAC98;
    /* color: #EFE7D2 */
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 23px;
}

.confirmationContentContainerDivMessageContainerTwo {
    margin-top: 30px;
}

.confirmationContentContainerDivMessageContainerThree {
    margin-top: 20px;
}