.menuProductElement {
    margin-top: 20px;
    margin-bottom: 10px;
}

.menuProductElementContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.menuProductElementContainerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.menuProductElementContainerLeftContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: transparent;
}

.menuProductElementContainerLeftContainerImage {
    width: 150px;
    height: auto;
    display: block;
    border-radius: 15px;
}

.menuProductElementContainerRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.menuProductElementContainerRightContainerTopContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
}

.menuProductElementContainerRightContainerTopContainerDots {
    flex-grow: 1;
    height: 1px;
    /* width: 3px; */
    background: repeating-linear-gradient(
        to right,
        #32322D 0px,
        #32322D 5px,
        transparent 5px,
        transparent 7px
    );
    align-self: flex-end;
    margin-left: 10px;
    margin-right: 10px;
}

.menuProductElementContainerRightContainerTopContainerRight {
    margin-left: auto;
}

.menuProductElementContainerRightContainerTopLeftText {
    color: #EFE7D2;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.menuProductElementContainerRightContainerTopContainerRightContainerText {
    color: #EFE7D2;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

.menuProductElementContainerRightContainerBottomContainerText {
    font-size: 14px;
    font-weight: 300;
    color: #AEACA7;
}

.menuProductElementContainerRightContainerTopContainerIconContainerIcon {
    width: 16px;
    height: auto;
}